In [2]:
import pandas as pd
iris_filename = '/Users/ericchiyembekeza/Downloads/iris.data'
iris = pd.read_csv(iris_filename, sep=',', decimal='.',
                  header=None,
                  names= ['sepal_length', 'sepal_width',
                         'petal_length', 'petal_width',
                         'target'])

In [3]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width          target
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [5]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'], dtype='object')

In [6]:
y = iris['target']
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
5         Iris-setosa
6         Iris-setosa
7         Iris-setosa
8         Iris-setosa
9         Iris-setosa
10        Iris-setosa
11        Iris-setosa
12        Iris-setosa
13        Iris-setosa
14        Iris-setosa
15        Iris-setosa
16        Iris-setosa
17        Iris-setosa
18        Iris-setosa
19        Iris-setosa
20        Iris-setosa
21        Iris-setosa
22        Iris-setosa
23        Iris-setosa
24        Iris-setosa
25        Iris-setosa
26        Iris-setosa
27        Iris-setosa
28        Iris-setosa
29        Iris-setosa
            ...
120    Iris-virginica
121    Iris-virginica
122    Iris-virginica
123    Iris-virginica
124    Iris-virginica
125    Iris-virginica
126    Iris-virginica
127    Iris-virginica
128    Iris-virginica
129    Iris-virginica
130    Iris-virginica
131    Iris-virginica
132    Iris-virginica
133    Iris-virginica
134    Iris-virginica
135    Iris-virginica
136    Iris-virginica
137    Iris-virginica
138    Iris-virginica
139    Iris-virginica
140    Iris-virginica
141    Iris-virginica
142    Iris-virginica
143    Iris-virginica
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: target, Length: 150, dtype: object

In [7]:
X = iris[['sepal_length', 'sepal_width']]
X

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
5             5.4          3.9
6             4.6          3.4
7             5.0          3.4
8             4.4          2.9
9             4.9          3.1
10            5.4          3.7
11            4.8          3.4
12            4.8          3.0
13            4.3          3.0
14            5.8          4.0
15            5.7          4.4
16            5.4          3.9
17            5.1          3.5
18            5.7          3.8
19            5.1          3.8
20            5.4          3.4
21            5.1          3.7
22            4.6          3.6
23            5.1          3.3
24            4.8          3.4
25            5.0          3.0
26            5.0          3.4
27            5.2          3.5
28            5.2          3.4
29            4.7          3.2
..            ...          ...
120           6.9          3.2
121           5.6          2.8
122           7.7          2.8
123           6.3          2.7
124           6.7          3.3
125           7.2          3.2
126           6.2          2.8
127           6.1          3.0
128           6.4          2.8
129           7.2          3.0
130           7.4          2.8
131           7.9          3.8
132           6.4          2.8
133           6.3          2.8
134           6.1          2.6
135           7.7          3.0
136           6.3          3.4
137           6.4          3.1
138           6.0          3.0
139           6.9          3.1
140           6.7          3.1
141           6.9          3.1
142           5.8          2.7
143           6.8          3.2
144           6.7          3.3
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]