In [42]:
import pandas as pd
import numpy as np
import glob


#I tried this method first...but I think list comprehension is quicker
#df = pd.read_csv('/Users/EricJC/Desktop/Data/18Q2-pt1.csv')
#df = df.drop(unneeded_data, axis = 1)
unneeded_data = ['EVALCODE2','EVALCODE3','EVALCODE4','EVALCODE5','OTHCPT2',
                'OTHCPT3','OTHCPT4','OTHCPT5','OTHCPT6','OTHCPT7','OTHCPT8',
                'OTHCPT9','OTHCPT10','OTHDIAG6','OTHDIAG7',
                'OTHDIAG8','OTHDIAG9','OTHOPER_PH','OTHOPER__A']
cols = df.columns
#These are the opioid codes that we are most interested in. We will filter the [REASON_CDE] column by these specific codes
opioid_dx = ('F11.10','F11.120','F11.121',
'F11.122','F11.129','F11.14','F11.150','F11.151','F11.159','F11.181','F11.182','F11.188',
'F11.19','F11.20','F11.220','F11.221','F11.222','F11.229','F11.23','F11.24','F11.250',
'F11.251','F11.259','F11.281','F11.282','F11.288','F11.29','F11.90','F11.920','F11.921',
'F11.922','F11.929','F11.93','F11.94','F11.950','F11.951','F11.959','F11.981','F11.982',
'F11.988','F11.99','T40.0X1A','T40.0X1D','T40.0X1S','T40.0X4A','T40.0X4D','T40.0X4S',
'T40.0X5A','T40.0X5D','T40.0X5S','T40.1X1A','T40.1X1D','T40.1X1S','T40.1X4A','T40.1X4D',
'T40.1X4S','T40.2X1A','T40.2X1D','T40.2X1S','T40.2X4A','T40.2X4D','T40.2X4S','T40.2X5A',
'T40.2X5D','T40.2X5S','T40.3X1A','T40.3X1D','T40.3X1S','T40.3X4A','T40.3X4D','T40.3X4S',
'T40.3X5A','T40.3X5D','T40.3X5S','T40.4X1A','T40.4X1D','T40.4X1S','T40.4X4A','T40.4X4D',
'T40.4X4S','T40.4X5A','T40.4X5D','T40.4X5S','T40.601A','T40.601D','T40.601S','T40.604A',
'T40.604D','T40.604S','T40.605A','T40.605D','T40.605S','T40.691A','T40.691D','T40.691S',
'T40.694A','T40.694D','T40.694S','T40.695A','T40.695D','T40.695S','T40.0X2A','T40.0X2D',
'T40.0X2S','T40.0X3A','T40.0X3D','T40.0X3S','T40.1X2A','T40.1X2D','T40.1X2S','T40.1X3A',
'T40.1X3D','T40.1X3S','T40.2X2A','T40.2X2D','T40.2X2S','T40.2X3A','T40.2X3D','T40.2X3S',
'T40.3X2A','T40.3X2D','T40.3X2S','T40.3X3A','T40.3X3D','T40.3X3S','T40.4X2A','T40.4X2D',
'T40.4X2S','T40.4X3A','T40.4X3D','T40.4X3S','T40.602A','T40.602D','T40.602S','T40.603A',
'T40.603D','T40.603S','T40.692A','T40.692D','T40.692S','T40.693A','T40.693D','T40.693S') 

#df18Q2_pt1
#df18Q2_pt2
#df18Q1_pt1
#df18Q1_pt2
#df17Q3_pt1
#df17Q3_pt2
#df17Q4_pt1
#df17Q4_pt2

#read csv files into zip then into pd.dfs


# glob.glob('data*.csv') - returns List[str]
# pd.read_csv(f) - returns pd.DataFrame()
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
df = pd.concat([pd.read_csv(f) for f in glob.glob('/Users/EricJC/Desktop/Data/*.csv')], ignore_index = True)

/Users/EricJC/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3214: DtypeWarning: Columns (6,20,26,27,28,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,70,73,76,78) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
/Users/EricJC/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3214: DtypeWarning: Columns (6,20,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,70,73,78) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [43]:
df.head()

,SYS_RECID,YEAR,QTR,FACLNBR,MCARE_NBR,TYPE_SERV,SERV_LOC,PRO_CODE,FAC_REGION,FAC_COUNTY,...,OPRMCHGS,ANESCHGS,RECOVCHGS,ERCHGS,TRAUMACHGS,OBSERCHGS,GASTROCHGS,LITHOCHGS,OTHCHGS,TCHGS
0,100140850,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,1596,0,0,0,0,188,2164
1,100140851,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,3173,0,0,0,0,0,10816
2,100140852,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,1596,0,0,0,0,0,1596
3,100140853,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,2879,0,0,0,0,857,10413
4,100140854,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,1596,0,0,0,0,0,1849

In [30]:
df = pd.read_csv('/Users/EricJC/Desktop/Data/18Q2-pt1.csv', usecols = [i for i in cols if i != 'unneeded_data'])
df.loc[df['REASON_CDE'].isin(opioid_dx)]

In [31]:
#df18Q2_pt1
df.loc[df['REASON_CDE'].isin(opioid_dx)]

,SYS_RECID,YEAR,QTR,FACLNBR,MCARE_NBR,TYPE_SERV,SERV_LOC,PRO_CODE,FAC_REGION,FAC_COUNTY,...,OPRMCHGS,ANESCHGS,RECOVCHGS,ERCHGS,TRAUMACHGS,OBSERCHGS,GASTROCHGS,LITHOCHGS,OTHCHGS,TCHGS
1055,102742966,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,4335,0,0,0,0,0,7716
1820,102739968,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,4104,0,0,0,0,0,8071
2124,102741886,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,3472,0,0,0,0,0,6647
4675,102737097,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,5108,0,0,0,0,857,21937
7037,103544910,2018,2,120005,100012,2,NaN,23,8,36,...,0,0,0,4251,0,0,0,0,675,5649
7136,103543742,2018,2,120005,100012,2,NaN,23,8,36,...,0,0,0,2890,0,0,0,0,922,4319
9934,103548284,2018,2,120005,100012,2,NaN,23,8,36,...,0,600,0,5160,0,7308,0,0,2632,35883
12673,103548671,2018,2,120005,100012,2,NaN,23,8,36,...,0,0,0,511,0,0,0,0,0,511
12970,102558729,2018,2,100165,100284,2,NaN,23,11,13,...,0,0,0,279,0,0,0,0,0,279
19538,102779412,2018,2,100122,100122,2,NaN,23,1,46,...,0,0,0,1655,0,0,0,0,0,1805
20410,102779234,2018,2,100122,100122,2,NaN,23,1,46,...,0,0,0,3181,0,0,0,0,0,3181
24693,102890606,2018,2,100004,103427,2,NaN,23,2,40,...,0,0,0,1427,0,0,0,0,347,3458
25555,102906047,2018,2,100217,100217,2,NaN,23,9,31,...,0,0,0,7140,0,0,0,0,85,14284
26091,102904748,2018,2,100217,100217,2,NaN,23,9,31,...,0,0,0,6172,0,0,0,0,521,10561
26213,102903492,2018,2,100217,100217,2,NaN,23,9,31,...,0,0,0,3435,0,0,0,0,0,7337
26967,102902296,2018,2,100217,100217,2,NaN,23,9,31,...,0,0,0,4925,0,0,0,0,148,13889
27856,102903185,2018,2,100217,100217,2,NaN,23,9,31,...,0,0,0,12602,0,0,0,0,668,27435
28900,102903254,2018,2,100217,100217,2,NaN,23,9,31,...,0,0,0,3435,0,0,0,0,0,3435
29315,102903279,2018,2,100217,100217,2,NaN,23,9,31,...,0,0,0,3435,0,0,0,0,0,3435
31800,102952177,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3079,0,0,0,0,698,4367
32252,102952205,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3438,0,0,0,0,0,6662
32515,102950363,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3079,0,0,0,0,0,3193
32671,102951942,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3079,0,0,0,0,0,3084
32789,102950826,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3079,0,0,0,0,0,12683
33035,102954473,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3079,0,0,0,0,0,3527
34588,102954188,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3665,0,0,0,0,698,16978
34988,102955910,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3079,0,0,0,0,0,3230
35310,102954527,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3325,0,0,0,0,698,11469
36299,102955434,2018,2,110008,100268,2,NaN,23,9,50,...,0,0,0,3079,0,0,0,0,0,3217
37579,102957650,2018,2,110008,100268,2,A,23,9,50,...,0,0,0,3493,0,0,0,0,698,13386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956972,105061323,2018,2,100243,100243,2,NaN,23,6,29,...,0,0,0,3805,0,558,0,0,1203,24707
957129,105060504,2018,2,100243,100243,2,NaN,23,6,29,...,0,0,0,3184,0,0,0,0,1035,8003
957511,105059908,2018,2,100243,100243,2,NaN,23,6,29,...,0,0,0,3184,0,0,0,0,0,7730
963016,105093928,2018,2,100088,100088,2,NaN,23,4,16,...,0,0,0,943,0,0,0,0,1700,4753
964130,105090408,2018,2,100088,100088,2,NaN,23,4,16,...,0,0,0,1499,0,0,0,0,0,2696
965387,105092505,2018,2,100088,100088,2,NaN,23,4,16,...,0,0,0,2227,0,0,0,0,500,3905
965731,105090959,2018,2,100088,100088,2,A,23,4,16,...,0,0,0,1499,0,0,0,0,500,2234
966306,105137544,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,2850,0,0,0,0,0,7531
970803,105141411,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,2850,0,0,0,0,0,6775
975361,105135651,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,2850,0,0,0,0,549,9070
975660,105133206,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,1950,0,0,0,0,1291,5446
975840,105132546,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,1950,0,0,0,0,0,3347
976851,105134397,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,1950,0,0,0,0,0,6876
978221,105094655,2018,2,100088,100088,2,A,23,4,16,...,0,0,0,361,0,0,0,0,513,1433
978443,105094888,2018,2,100088,100088,2,A,23,4,16,...,0,0,0,943,0,0,0,0,0,943
978599,105094005,2018,2,100088,100088,2,NaN,23,4,16,...,0,0,0,943,0,0,0,0,0,943
979083,105094931,2018,2,100088,100088,2,A,23,4,16,...,0,0,0,3337,0,0,0,0,1213,7779
981784,105105371,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,2850,0,0,0,0,0,2850
981978,105104937,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,3150,0,907,0,0,2574,21126
982514,105106315,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,1950,0,0,0,0,452,7046
984913,105089031,2018,2,100088,100088,2,NaN,23,4,16,...,0,0,0,2227,0,0,0,0,513,2760
986582,105087130,2018,2,100088,100088,2,NaN,23,4,16,...,0,0,0,2227,0,0,0,0,0,3455
988930,105119359,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,2850,0,0,0,0,188,7397
989804,105119197,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,2850,0,0,0,0,1239,31737
993700,105125838,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,2850,0,0,0,0,1012,7920
994108,105128780,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,1950,0,0,0,0,715,5091
994340,105125428,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,1250,0,0,0,0,0,1250
994485,105127673,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,2850,0,0,0,0,1012,6874
998078,105113667,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,2850,0,0,0,0,463,7571
999598,105130462,2018,2,100157,100157,2,NaN,23,6,53,...,0,0,0,1950,0,0,0,0,463,6148

In [28]:
df['REASON_CDE'].unique

<bound method Series.unique of 0            R10.2
1            Z76.0
2           R41.82
3          M79.604
4            N93.9
5            R10.9
6          M79.671
7              R05
8            J02.9
9              R42
10         M79.604
11         L02.211
12           R10.9
13           R10.9
14           F41.9
15         M25.512
16           M54.2
17           R10.2
18           R19.7
19           N91.2
20             R51
21        S89.92XA
22           R10.9
23         M25.511
24             R05
25           R10.9
26        S91.319A
27             R55
28             R51
29          K08.89
            ...
999970       R07.0
999971         R21
999972      O09.91
999973      K80.20
999974       R07.0
999975         R05
999976       R07.9
999977         R05
999978      R10.30
999979       H57.9
999980     M25.532
999981         R21
999982       R11.2
999983       J02.9
999984       R45.1
999985      R11.10
999986       L53.9
999987       R50.9
999988       R50.9
999989    S09.90XA
999990      E11.65
999991       N48.9
999992       R10.2
999993    S09.90XA
999994      K08.89
999995       L98.9
999996       N89.8
999997    S81.812A
999998     M79.662
999999       M54.5
Name: REASON_CDE, Length: 1000000, dtype: object>

In [14]:
#Volume = who is coming in and how many?
#disposition = were they admitted/discharged
#times and days trends
#Particular area pts are coming from more
#Particular facility pts are going to more
#payer source

In [ ]:
#Some of the ICD-10 codes of interest
#O99.320 - Drug use complicating pregnancy,unspecified trimester
#O99.321 - Drug use complicating pregnancy, first trimester
#O99.322 - Drug use complicating pregnancy, second trimester
#O99.323 - Drug use complicating pregnancy, third trimester
#O99.324 - Drug use complicating childbirth
#O99.325 - Drug use complicating puerperium
#F11.10  - Opioid abuse, uncomplicated
#F11.11  - Opioid abuse, in remission
#F11.12  - Opioid abuse with intoxication
#F11.14  - Opioid abuse with opioid-induced mood disorder
#F11.15  - Opioid abuse with opioid-induced psychotic disorder
#F11.18  - Opioid abuse with other opioid-induced disorder
#F11.19  - Opioid abuse with unspecified opioid-induced disorder 
#F11.2   - Opioid dependence 
#F11.9   - Opioid use, unspecified

In [13]:
df.head()

,SYS_RECID,YEAR,QTR,FACLNBR,MCARE_NBR,TYPE_SERV,SERV_LOC,PRO_CODE,FAC_REGION,FAC_COUNTY,...,OPRMCHGS,ANESCHGS,RECOVCHGS,ERCHGS,TRAUMACHGS,OBSERCHGS,GASTROCHGS,LITHOCHGS,OTHCHGS,TCHGS
0,102741482,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,1596,0,0,0,0,0,1849
1,102741483,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,494,0,0,0,0,0,494
2,102741484,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,4476,0,0,0,0,857,18862
3,102741485,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,1596,0,0,0,0,857,5184
4,102741486,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,3472,0,0,0,0,0,8144