In [35]:
import pandas as pd
import numpy as np
import glob

cols = ['SYS_RECID', 'YEAR', 'QTR', 'FACLNBR', 'MCARE_NBR', 'TYPE_SERV',
       'SERV_LOC', 'PRO_CODE', 'FAC_REGION', 'FAC_COUNTY', 'ETHNICITY', 'RACE',
       'SEX', 'AGE', 'LOSDAYS', 'WEEKDAY', 'ZIPCODE', 'PTCOUNTY', 'PTSTATE',
       'PTCOUNTRY', 'ADMSRC', 'HR_ARRIVAL', 'EDHR_DISCH', 'PT_STATUS', 'PAYER',
       'REASON_CDE', 'EVALCODE1', 'EVALCODE2', 'EVALCODE3', 'EVALCODE4',
       'EVALCODE5', 'OTHCPT1', 'OTHCPT2', 'OTHCPT3', 'OTHCPT4', 'OTHCPT5',
       'OTHCPT6', 'OTHCPT7', 'OTHCPT8', 'OTHCPT9', 'OTHCPT10', 'OTHCPT11',
       'OTHCPT12', 'OTHCPT13', 'OTHCPT14', 'OTHCPT15', 'OTHCPT16', 'OTHCPT17',
       'OTHCPT18', 'OTHCPT19', 'OTHCPT20', 'OTHCPT21', 'OTHCPT22', 'OTHCPT23',
       'OTHCPT24', 'OTHCPT25', 'OTHCPT26', 'OTHCPT27', 'OTHCPT28', 'OTHCPT29',
       'OTHCPT30', 'PRINDIAG', 'OTHDIAG1', 'OTHDIAG2', 'OTHDIAG3', 'OTHDIAG4',
       'OTHDIAG5', 'OTHDIAG6', 'OTHDIAG7', 'OTHDIAG8', 'OTHDIAG9', 'ECMORB1',
       'ECMORB2', 'ECMORB3', 'ATTEN_PHYI', 'ATTEN_PHYN', 'OPER_PHYID',
       'OPER_PHYNP', 'OTHOPER_PH', 'OTHOPER__A', 'PHARMCHGS', 'MEDCHGS',
       'LABCHGS', 'RADCHGS', 'CARDIOCHGS', 'OPRMCHGS', 'ANESCHGS', 'RECOVCHGS',
       'ERCHGS', 'TRAUMACHGS', 'OBSERCHGS', 'GASTROCHGS', 'LITHOCHGS',
       'OTHCHGS', 'TCHGS']

unneeded_data = ['EVALCODE2','EVALCODE3','EVALCODE4','EVALCODE5','OTHCPT6','OTHCPT7','OTHCPT8',
                'OTHCPT9','OTHCPT10','OTHCPT11','OTHCPT12','OTHCPT13', 'OTHCPT14',
                'OTHCPT15', 'OTHCPT16', 'OTHCPT17', 'OTHCPT18','OTHCPT19', 'OTHCPT20',
                'OTHCPT21', 'OTHCPT22', 'OTHCPT23', 'OTHCPT24','OTHCPT25', 'OTHCPT26',
                'OTHCPT27', 'OTHCPT28', 'OTHCPT29', 'OTHCPT30','OTHDIAG6','OTHDIAG7',
                'OTHDIAG8','OTHDIAG9','OTHOPER_PH','OTHOPER__A','PHARMCHGS', 'MEDCHGS', 'LABCHGS',
                'RADCHGS', 'CARDIOCHGS', 'OPRMCHGS', 'ANESCHGS', 'RECOVCHGS', 'ERCHGS',
                'TRAUMACHGS', 'OBSERCHGS', 'GASTROCHGS', 'LITHOCHGS', 'OTHCHGS','TCHGS','OPER_PHYID',
                 'OPER_PHYNP','PRINPROC','OTHPROC1','OTHPROC2','OTHPROC3','OTHPROC4']

df = pd.concat([pd.read_csv(f , dtype= object) for f in glob.glob('/Users/EricJC/Desktop/Data/*.csv')], ignore_index = True, sort=False)
df.head()

,SYS_RECID,YEAR,QTR,FACLNBR,MCARE_NBR,TYPE_SERV,SERV_LOC,PRO_CODE,FAC_REGION,FAC_COUNTY,...,OBSERCHGS,GASTROCHGS,LITHOCHGS,OTHCHGS,TCHGS,PRINPROC,OTHPROC1,OTHPROC2,OTHPROC3,OTHPROC4
0,100140850,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,188,2164,NaN,NaN,NaN,NaN,NaN
1,100140851,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,10816,NaN,NaN,NaN,NaN,NaN
2,100140852,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,1596,NaN,NaN,NaN,NaN,NaN
3,100140853,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,857,10413,NaN,NaN,NaN,NaN,NaN
4,100140854,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,1849,NaN,NaN,NaN,NaN,NaN

In [37]:
#These are the opioid codes that we are most interested in. We will filter the [REASON_CDE] column by these specific codes
opioid_dx = ['F11.10','F11.120','F11.121',
'F11.122','F11.129','F11.14','F11.150','F11.151','F11.159','F11.181','F11.182','F11.188',
'F11.19','F11.20','F11.220','F11.221','F11.222','F11.229','F11.23','F11.24','F11.250',
'F11.251','F11.259','F11.281','F11.282','F11.288','F11.29','F11.90','F11.920','F11.921',
'F11.922','F11.929','F11.93','F11.94','F11.950','F11.951','F11.959','F11.981','F11.982',
'F11.988','F11.99','T40.0X1A','T40.0X1D','T40.0X1S','T40.0X4A','T40.0X4D','T40.0X4S',
'T40.0X5A','T40.0X5D','T40.0X5S','T40.1X1A','T40.1X1D','T40.1X1S','T40.1X4A','T40.1X4D',
'T40.1X4S','T40.2X1A','T40.2X1D','T40.2X1S','T40.2X4A','T40.2X4D','T40.2X4S','T40.2X5A',
'T40.2X5D','T40.2X5S','T40.3X1A','T40.3X1D','T40.3X1S','T40.3X4A','T40.3X4D','T40.3X4S',
'T40.3X5A','T40.3X5D','T40.3X5S','T40.4X1A','T40.4X1D','T40.4X1S','T40.4X4A','T40.4X4D',
'T40.4X4S','T40.4X5A','T40.4X5D','T40.4X5S','T40.601A','T40.601D','T40.601S','T40.604A',
'T40.604D','T40.604S','T40.605A','T40.605D','T40.605S','T40.691A','T40.691D','T40.691S',
'T40.694A','T40.694D','T40.694S','T40.695A','T40.695D','T40.695S','T40.0X2A','T40.0X2D',
'T40.0X2S','T40.0X3A','T40.0X3D','T40.0X3S','T40.1X2A','T40.1X2D','T40.1X2S','T40.1X3A',
'T40.1X3D','T40.1X3S','T40.2X2A','T40.2X2D','T40.2X2S','T40.2X3A','T40.2X3D','T40.2X3S',
'T40.3X2A','T40.3X2D','T40.3X2S','T40.3X3A','T40.3X3D','T40.3X3S','T40.4X2A','T40.4X2D',
'T40.4X2S','T40.4X3A','T40.4X3D','T40.4X3S','T40.602A','T40.602D','T40.602S','T40.603A',
'T40.603D','T40.603S','T40.692A','T40.692D','T40.692S','T40.693A','T40.693D','T40.693S']
def is_opioid_dx(opioid_dx):
       if opioid_dx in ['F11.10','F11.120','F11.121',
'F11.122','F11.129','F11.14','F11.150','F11.151','F11.159','F11.181','F11.182','F11.188',
'F11.19','F11.20','F11.220','F11.221','F11.222','F11.229','F11.23','F11.24','F11.250',
'F11.251','F11.259','F11.281','F11.282','F11.288','F11.29','F11.90','F11.920','F11.921',
'F11.922','F11.929','F11.93','F11.94','F11.950','F11.951','F11.959','F11.981','F11.982',
'F11.988','F11.99','T40.0X1A','T40.0X1D','T40.0X1S','T40.0X4A','T40.0X4D','T40.0X4S',
'T40.0X5A','T40.0X5D','T40.0X5S','T40.1X1A','T40.1X1D','T40.1X1S','T40.1X4A','T40.1X4D',
'T40.1X4S','T40.2X1A','T40.2X1D','T40.2X1S','T40.2X4A','T40.2X4D','T40.2X4S','T40.2X5A',
'T40.2X5D','T40.2X5S','T40.3X1A','T40.3X1D','T40.3X1S','T40.3X4A','T40.3X4D','T40.3X4S',
'T40.3X5A','T40.3X5D','T40.3X5S','T40.4X1A','T40.4X1D','T40.4X1S','T40.4X4A','T40.4X4D',
'T40.4X4S','T40.4X5A','T40.4X5D','T40.4X5S','T40.601A','T40.601D','T40.601S','T40.604A',
'T40.604D','T40.604S','T40.605A','T40.605D','T40.605S','T40.691A','T40.691D','T40.691S',
'T40.694A','T40.694D','T40.694S','T40.695A','T40.695D','T40.695S','T40.0X2A','T40.0X2D',
'T40.0X2S','T40.0X3A','T40.0X3D','T40.0X3S','T40.1X2A','T40.1X2D','T40.1X2S','T40.1X3A',
'T40.1X3D','T40.1X3S','T40.2X2A','T40.2X2D','T40.2X2S','T40.2X3A','T40.2X3D','T40.2X3S',
'T40.3X2A','T40.3X2D','T40.3X2S','T40.3X3A','T40.3X3D','T40.3X3S','T40.4X2A','T40.4X2D',
'T40.4X2S','T40.4X3A','T40.4X3D','T40.4X3S','T40.602A','T40.602D','T40.602S','T40.603A',
'T40.603D','T40.603S','T40.692A','T40.692D','T40.692S','T40.693A','T40.693D','T40.693S']:
           return 1
       else:
           return 0
df['REASON_CDE'] = df['REASON_CDE'].apply(is_opioid_dx)

In [38]:
#My reason code is now showing a boolean value based on its meeting the appropriate parameter.
df['REASON_CDE'].value_counts()
#the df['REASON_CDE'] column will also be my target column

0    7985532
1      14468
Name: REASON_CDE, dtype: int64

In [39]:
def split_target(data, target_name):
       target = data[[target_name]]
       data.drop(target_name, axis=1, inplace=True)
       return (data, target)
X, y = split_target(df, 'REASON_CDE')

In [40]:
#after splitting my data into train and test with the code above, X contains the df and y contains the target (or response variable)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [41]:
#Just to check...
print(y_train.groupby('REASON_CDE').size())

REASON_CDE
0    5989152
1      10848
dtype: int64

In [42]:
#Let's just look at what we have so far
print(X_train.groupby('RACE').size())
print(X_train.groupby('SEX').size())
print(X_train.groupby('AGE').size())
print(X_train.groupby('WEEKDAY').size())
print(X_train.groupby('ADMSRC').size())
print(X_train.groupby('HR_ARRIVAL').size())

RACE
1       6655
2      37701
3    1489246
4       3409
5    3919299
6     496933
7      46757
dtype: int64
SEX
F    3434620
M    2565380
dtype: int64
AGE
0       84123
1      155520
10      56716
100       263
101       157
102       117
103        73
104        33
105        16
106        18
107        12
108         4
109         1
11      53285
110         3
115         1
116        18
117         1
12      49938
13      49749
137       117
14      51443
15      55244
16      61569
17      67918
18      80546
19      88149
2      118163
20      91178
21      90314
        ...
75      40629
76      36607
77      35017
777     72202
78      33859
79      33032
8       58060
80      31302
81      29788
82      28891
83      27032
84      25241
85      24148
86      23001
87      21935
88      19481
888      1498
89      17895
9       57897
90      15393
91      13313
92      11180
93       9544
94       7511
95       5782
96       4104
97       3060
98       1978
99       1383
999       132
Length: 118, dtype: int64
WEEKDAY
1    934198
2    885398
3    866235
4    846487
5    837233
6    815409
7    815040
dtype: int64
ADMSRC
00         94
01    5931352
02      25881
04       7435
05      17802
06       5634
08       5978
09       4577
D         914
E         163
F         170
dtype: int64
HR_ARRIVAL
00    147312
01    113326
02     92782
03     80764
04     74525
05     76474
06     97404
07    152097
08    243286
09    324031
10    363804
11    375973
12    361962
13    346065
14    335305
15    332348
16    337217
17    343492
18    360076
19    359602
20    338335
21    299097
22    246971
23    197608
99       144
dtype: int64

In [32]:
df['HR_ARRIVAL']

0          14
1          11
2          13
3          10
4          13
5          13
6          14
7          15
8          14
9          12
10         14
11         00
12         16
13         09
14         08
15         20
16         16
17         05
18         05
19         03
20         12
21         13
22         02
23         15
24         15
25         22
26         09
27         22
28         20
29         20
           ..
7999970    20
7999971    20
7999972    20
7999973    19
7999974    19
7999975    19
7999976    19
7999977    19
7999978    19
7999979    19
7999980    19
7999981    19
7999982    19
7999983    19
7999984    19
7999985    19
7999986    19
7999987    19
7999988    19
7999989    18
7999990    18
7999991    18
7999992    18
7999993    17
7999994    17
7999995    17
7999996    17
7999997    18
7999998    18
7999999    18
Name: HR_ARRIVAL, Length: 8000000, dtype: object