In [2]:
import pandas as pd
import numpy as np
import glob

cols = ['SYS_RECID', 'YEAR', 'QTR', 'FACLNBR', 'MCARE_NBR', 'TYPE_SERV',
       'SERV_LOC', 'PRO_CODE', 'FAC_REGION', 'FAC_COUNTY', 'ETHNICITY', 'RACE',
       'SEX', 'AGE', 'LOSDAYS', 'WEEKDAY', 'ZIPCODE', 'PTCOUNTY', 'PTSTATE',
       'PTCOUNTRY', 'ADMSRC', 'HR_ARRIVAL', 'EDHR_DISCH', 'PT_STATUS', 'PAYER',
       'REASON_CDE', 'EVALCODE1', 'EVALCODE2', 'EVALCODE3', 'EVALCODE4',
       'EVALCODE5', 'OTHCPT1', 'OTHCPT2', 'OTHCPT3', 'OTHCPT4', 'OTHCPT5',
       'OTHCPT6', 'OTHCPT7', 'OTHCPT8', 'OTHCPT9', 'OTHCPT10', 'OTHCPT11',
       'OTHCPT12', 'OTHCPT13', 'OTHCPT14', 'OTHCPT15', 'OTHCPT16', 'OTHCPT17',
       'OTHCPT18', 'OTHCPT19', 'OTHCPT20', 'OTHCPT21', 'OTHCPT22', 'OTHCPT23',
       'OTHCPT24', 'OTHCPT25', 'OTHCPT26', 'OTHCPT27', 'OTHCPT28', 'OTHCPT29',
       'OTHCPT30', 'PRINDIAG', 'OTHDIAG1', 'OTHDIAG2', 'OTHDIAG3', 'OTHDIAG4',
       'OTHDIAG5', 'OTHDIAG6', 'OTHDIAG7', 'OTHDIAG8', 'OTHDIAG9', 'ECMORB1',
       'ECMORB2', 'ECMORB3', 'ATTEN_PHYI', 'ATTEN_PHYN', 'OPER_PHYID',
       'OPER_PHYNP', 'OTHOPER_PH', 'OTHOPER__A', 'PHARMCHGS', 'MEDCHGS',
       'LABCHGS', 'RADCHGS', 'CARDIOCHGS', 'OPRMCHGS', 'ANESCHGS', 'RECOVCHGS',
       'ERCHGS', 'TRAUMACHGS', 'OBSERCHGS', 'GASTROCHGS', 'LITHOCHGS',
       'OTHCHGS', 'TCHGS']

unneeded_data = ['EVALCODE2','EVALCODE3','EVALCODE4','EVALCODE5','OTHCPT6','OTHCPT7','OTHCPT8',
                'OTHCPT9','OTHCPT10','OTHCPT11','OTHCPT12','OTHCPT13', 'OTHCPT14',
                'OTHCPT15', 'OTHCPT16', 'OTHCPT17', 'OTHCPT18','OTHCPT19', 'OTHCPT20',
                'OTHCPT21', 'OTHCPT22', 'OTHCPT23', 'OTHCPT24','OTHCPT25', 'OTHCPT26',
                'OTHCPT27', 'OTHCPT28', 'OTHCPT29', 'OTHCPT30','OTHDIAG6','OTHDIAG7',
                'OTHDIAG8','OTHDIAG9','OTHOPER_PH','OTHOPER__A','PHARMCHGS', 'MEDCHGS', 'LABCHGS',
                'RADCHGS', 'CARDIOCHGS', 'OPRMCHGS', 'ANESCHGS', 'RECOVCHGS', 'ERCHGS',
                'TRAUMACHGS', 'OBSERCHGS', 'GASTROCHGS', 'LITHOCHGS', 'OTHCHGS','TCHGS','OPER_PHYID',
                 'OPER_PHYNP','PRINPROC','OTHPROC1','OTHPROC2','OTHPROC3','OTHPROC4']

df = pd.concat([pd.read_csv(f , dtype= object) for f in glob.glob('/Users/EricJC/Desktop/Data/*.csv')], ignore_index = True, sort=False)
df.head()

,SYS_RECID,YEAR,QTR,FACLNBR,MCARE_NBR,TYPE_SERV,SERV_LOC,PRO_CODE,FAC_REGION,FAC_COUNTY,...,OBSERCHGS,GASTROCHGS,LITHOCHGS,OTHCHGS,TCHGS,PRINPROC,OTHPROC1,OTHPROC2,OTHPROC3,OTHPROC4
0,100140850,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,188,2164,NaN,NaN,NaN,NaN,NaN
1,100140851,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,10816,NaN,NaN,NaN,NaN,NaN
2,100140852,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,1596,NaN,NaN,NaN,NaN,NaN
3,100140853,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,857,10413,NaN,NaN,NaN,NaN,NaN
4,100140854,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,1849,NaN,NaN,NaN,NaN,NaN

In [3]:
#These are the opioid codes that we are most interested in. We will filter the [REASON_CDE] column by these specific codes
opioid_dx = ['F11.10','F11.120','F11.121',
'F11.122','F11.129','F11.14','F11.150','F11.151','F11.159','F11.181','F11.182','F11.188',
'F11.19','F11.20','F11.220','F11.221','F11.222','F11.229','F11.23','F11.24','F11.250',
'F11.251','F11.259','F11.281','F11.282','F11.288','F11.29','F11.90','F11.920','F11.921',
'F11.922','F11.929','F11.93','F11.94','F11.950','F11.951','F11.959','F11.981','F11.982',
'F11.988','F11.99','T40.0X1A','T40.0X1D','T40.0X1S','T40.0X4A','T40.0X4D','T40.0X4S',
'T40.0X5A','T40.0X5D','T40.0X5S','T40.1X1A','T40.1X1D','T40.1X1S','T40.1X4A','T40.1X4D',
'T40.1X4S','T40.2X1A','T40.2X1D','T40.2X1S','T40.2X4A','T40.2X4D','T40.2X4S','T40.2X5A',
'T40.2X5D','T40.2X5S','T40.3X1A','T40.3X1D','T40.3X1S','T40.3X4A','T40.3X4D','T40.3X4S',
'T40.3X5A','T40.3X5D','T40.3X5S','T40.4X1A','T40.4X1D','T40.4X1S','T40.4X4A','T40.4X4D',
'T40.4X4S','T40.4X5A','T40.4X5D','T40.4X5S','T40.601A','T40.601D','T40.601S','T40.604A',
'T40.604D','T40.604S','T40.605A','T40.605D','T40.605S','T40.691A','T40.691D','T40.691S',
'T40.694A','T40.694D','T40.694S','T40.695A','T40.695D','T40.695S','T40.0X2A','T40.0X2D',
'T40.0X2S','T40.0X3A','T40.0X3D','T40.0X3S','T40.1X2A','T40.1X2D','T40.1X2S','T40.1X3A',
'T40.1X3D','T40.1X3S','T40.2X2A','T40.2X2D','T40.2X2S','T40.2X3A','T40.2X3D','T40.2X3S',
'T40.3X2A','T40.3X2D','T40.3X2S','T40.3X3A','T40.3X3D','T40.3X3S','T40.4X2A','T40.4X2D',
'T40.4X2S','T40.4X3A','T40.4X3D','T40.4X3S','T40.602A','T40.602D','T40.602S','T40.603A',
'T40.603D','T40.603S','T40.692A','T40.692D','T40.692S','T40.693A','T40.693D','T40.693S']
def is_opioid_dx(opioid_dx):
    if opioid_dx in ['F11.10','F11.120','F11.121',
'F11.122','F11.129','F11.14','F11.150','F11.151','F11.159','F11.181','F11.182','F11.188',
'F11.19','F11.20','F11.220','F11.221','F11.222','F11.229','F11.23','F11.24','F11.250',
'F11.251','F11.259','F11.281','F11.282','F11.288','F11.29','F11.90','F11.920','F11.921',
'F11.922','F11.929','F11.93','F11.94','F11.950','F11.951','F11.959','F11.981','F11.982',
'F11.988','F11.99','T40.0X1A','T40.0X1D','T40.0X1S','T40.0X4A','T40.0X4D','T40.0X4S',
'T40.0X5A','T40.0X5D','T40.0X5S','T40.1X1A','T40.1X1D','T40.1X1S','T40.1X4A','T40.1X4D',
'T40.1X4S','T40.2X1A','T40.2X1D','T40.2X1S','T40.2X4A','T40.2X4D','T40.2X4S','T40.2X5A',
'T40.2X5D','T40.2X5S','T40.3X1A','T40.3X1D','T40.3X1S','T40.3X4A','T40.3X4D','T40.3X4S',
'T40.3X5A','T40.3X5D','T40.3X5S','T40.4X1A','T40.4X1D','T40.4X1S','T40.4X4A','T40.4X4D',
'T40.4X4S','T40.4X5A','T40.4X5D','T40.4X5S','T40.601A','T40.601D','T40.601S','T40.604A',
'T40.604D','T40.604S','T40.605A','T40.605D','T40.605S','T40.691A','T40.691D','T40.691S',
'T40.694A','T40.694D','T40.694S','T40.695A','T40.695D','T40.695S','T40.0X2A','T40.0X2D',
'T40.0X2S','T40.0X3A','T40.0X3D','T40.0X3S','T40.1X2A','T40.1X2D','T40.1X2S','T40.1X3A',
'T40.1X3D','T40.1X3S','T40.2X2A','T40.2X2D','T40.2X2S','T40.2X3A','T40.2X3D','T40.2X3S',
'T40.3X2A','T40.3X2D','T40.3X2S','T40.3X3A','T40.3X3D','T40.3X3S','T40.4X2A','T40.4X2D',
'T40.4X2S','T40.4X3A','T40.4X3D','T40.4X3S','T40.602A','T40.602D','T40.602S','T40.603A',
'T40.603D','T40.603S','T40.692A','T40.692D','T40.692S','T40.693A','T40.693D','T40.693S']:
        return 1
    else:
        return 0
df['REASON_CDE'] = df['REASON_CDE'].apply(is_opioid_dx)

def is_night(arrtime):
    arrtime_int = int(arrtime)
    if ((arrtime_int >= 0) & (arrtime_int < 8)):
        return 1
    elif ((arrtime_int >= 20) & (arrtime_int < 23)):
        return 1
    else:
        return 0
df['HR_ARRIVAL'] = df['HR_ARRIVAL'].apply(is_night)

In [4]:
df['AGE'].value_counts()

1      207378
2      157475
27     141053
28     139236
26     137843
25     135185
29     134920
24     130684
30     130212
31     127393
3      126430
23     125653
32     124033
22     122494
20     121609
21     120373
33     120311
34     118382
35     116968
19     116928
36     113758
0      112145
37     110390
4      109354
18     107506
38     105541
5      100812
39      99521
40      97255
777     96241
        ...
87      29129
88      25914
89      23921
90      20657
91      17748
92      14955
93      12768
94       9977
95       7789
96       5529
97       4149
98       2662
888      2008
99       1822
100       362
101       220
999       181
137       165
102       145
103       104
104        41
116        22
105        22
106        20
107        19
108         5
110         5
117         2
109         1
115         1
Name: AGE, Length: 118, dtype: int64

In [5]:
#My reason code is now showing a boolean value based on its meeting the appropriate parameter.
df['REASON_CDE'].value_counts()
#the df['REASON_CDE'] column will also be my target column

0    7985532
1      14468
Name: REASON_CDE, dtype: int64

In [6]:
df['EVALCODE1'].unique()

array(['99283', '99282', '99284', '99285', '99281', '99291', '99999',
       '99292', 'G0380', 'G0381', 'G0382', 'G0383', 'G0384', nan],
      dtype=object)

In [7]:
df.drop_duplicates()

,SYS_RECID,YEAR,QTR,FACLNBR,MCARE_NBR,TYPE_SERV,SERV_LOC,PRO_CODE,FAC_REGION,FAC_COUNTY,...,OBSERCHGS,GASTROCHGS,LITHOCHGS,OTHCHGS,TCHGS,PRINPROC,OTHPROC1,OTHPROC2,OTHPROC3,OTHPROC4
0,100140850,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,188,2164,NaN,NaN,NaN,NaN,NaN
1,100140851,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,10816,NaN,NaN,NaN,NaN,NaN
2,100140852,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,1596,NaN,NaN,NaN,NaN,NaN
3,100140853,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,857,10413,NaN,NaN,NaN,NaN,NaN
4,100140854,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,1849,NaN,NaN,NaN,NaN,NaN
5,100140855,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,3762,NaN,NaN,NaN,NaN,NaN
6,100140856,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,958,NaN,NaN,NaN,NaN,NaN
7,100140857,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,5809,NaN,NaN,NaN,NaN,NaN
8,100140858,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,3365,NaN,NaN,NaN,NaN,NaN
9,100140859,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,1596,NaN,NaN,NaN,NaN,NaN
10,100140860,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,5475,NaN,NaN,NaN,NaN,NaN
11,100140861,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,4561,NaN,NaN,NaN,NaN,NaN
12,100140862,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,1727,NaN,NaN,NaN,NaN,NaN
13,100140863,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,20185,NaN,NaN,NaN,NaN,NaN
14,100140864,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,2575,NaN,NaN,NaN,NaN,NaN
15,100140865,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,7749,NaN,NaN,NaN,NaN,NaN
16,100140866,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,22874,NaN,NaN,NaN,NaN,NaN
17,100140867,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,4772,NaN,NaN,NaN,NaN,NaN
18,100140868,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,1994,6574,NaN,NaN,NaN,NaN,NaN
19,100140869,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,2941,NaN,NaN,NaN,NaN,NaN
20,100140870,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,2024,NaN,NaN,NaN,NaN,NaN
21,100140871,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,6005,NaN,NaN,NaN,NaN,NaN
22,100140872,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,11874,NaN,NaN,NaN,NaN,NaN
23,100140873,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,7020,NaN,NaN,NaN,NaN,NaN
24,100140874,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,11874,NaN,NaN,NaN,NaN,NaN
25,100140875,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,19318,NaN,NaN,NaN,NaN,NaN
26,100140876,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,1681,NaN,NaN,NaN,NaN,NaN
27,100140877,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,378,7175,NaN,NaN,NaN,NaN,NaN
28,100140878,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,857,18973,NaN,NaN,NaN,NaN,NaN
29,100140879,2018,1,100029,100029,2,NaN,23,11,13,...,0,0,0,0,16960,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7999970,96048306,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,561,NaN,NaN,NaN,NaN,NaN
7999971,96048307,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,361,NaN,NaN,NaN,NaN,NaN
7999972,96048308,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,426,3760,NaN,NaN,NaN,NaN,NaN
7999973,96048309,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,426,1509,NaN,NaN,NaN,NaN,NaN
7999974,96048310,2017,3,111527,0,2,NaN,23,10,6,...,1190,0,0,426,16881,NaN,NaN,NaN,NaN,NaN
7999975,96048311,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,974,NaN,NaN,NaN,NaN,NaN
7999976,96048312,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,512,NaN,NaN,NaN,NaN,NaN
7999977,96048313,2017,3,111527,0,2,NaN,23,10,6,...,1904,0,0,0,16064,NaN,NaN,NaN,NaN,NaN
7999978,96048314,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,868,NaN,NaN,NaN,NaN,NaN
7999979,96048315,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,606,2435,NaN,NaN,NaN,NaN,NaN
7999980,96048316,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,773,NaN,NaN,NaN,NaN,NaN
7999981,96048317,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,756,NaN,NaN,NaN,NaN,NaN
7999982,96048318,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,279,NaN,NaN,NaN,NaN,NaN
7999983,96048319,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,1554,NaN,NaN,NaN,NaN,NaN
7999984,96048320,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,426,3537,NaN,NaN,NaN,NaN,NaN
7999985,96048321,2017,3,111527,0,2,NaN,23,10,6,...,2380,0,0,706,10614,NaN,NaN,NaN,NaN,NaN
7999986,96048322,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,1,5258,NaN,NaN,NaN,NaN,NaN
7999987,96048323,2017,3,111527,0,2,NaN,23,10,6,...,6902,0,0,2210,39490,NaN,NaN,NaN,NaN,NaN
7999988,96048324,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,318,NaN,NaN,NaN,NaN,NaN
7999989,96048325,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,426,3616,NaN,NaN,NaN,NaN,NaN
7999990,96048326,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,865,NaN,NaN,NaN,NaN,NaN
7999991,96048327,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,4587,NaN,NaN,NaN,NaN,NaN
7999992,96048328,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,381,NaN,NaN,NaN,NaN,NaN
7999993,96048329,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,413,9245,NaN,NaN,NaN,NaN,NaN
7999994,96048330,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,373,NaN,NaN,NaN,NaN,NaN
7999995,96048331,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,1,11299,NaN,NaN,NaN,NaN,NaN
7999996,96048332,2017,3,111527,0,2,NaN,23,10,6,...,4879,0,0,426,12202,NaN,NaN,NaN,NaN,NaN
7999997,96048333,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,628,4159,NaN,NaN,NaN,NaN,NaN
7999998,96048334,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,362,NaN,NaN,NaN,NaN,NaN
7999999,96048335,2017,3,111527,0,2,NaN,23,10,6,...,0,0,0,0,318,NaN,NaN,NaN,NaN,NaN

In [8]:
#Filled the missing values with the value for "unknown"
df['EVALCODE1'] = df['EVALCODE1'].fillna('99999')
df['PTCOUNTRY'] = df['PTCOUNTRY'].fillna('99')

In [9]:
df = df.drop(columns=['FACLNBR','MCARE_NBR','TYPE_SERV','SERV_LOC','PRO_CODE','EVALCODE2','EVALCODE3','EVALCODE4','EVALCODE5','OTHCPT6','OTHCPT7','OTHCPT8',
             'OTHCPT9','OTHCPT10','OTHCPT11','OTHCPT12','OTHCPT13', 'OTHCPT14','OTHCPT15', 'OTHCPT16', 'OTHCPT17',
             'OTHCPT18','OTHCPT19', 'OTHCPT20','OTHCPT21', 'OTHCPT22', 'OTHCPT23', 'OTHCPT24','OTHCPT25', 'OTHCPT26',
             'OTHCPT27', 'OTHCPT28', 'OTHCPT29', 'OTHCPT30','OTHDIAG6','OTHDIAG7',
             'OTHDIAG8','OTHDIAG9','OTHOPER_PH','OTHOPER__A','PHARMCHGS', 'MEDCHGS', 'LABCHGS',
             'RADCHGS', 'CARDIOCHGS', 'OPRMCHGS', 'ANESCHGS', 'RECOVCHGS', 'ERCHGS',
             'TRAUMACHGS', 'OBSERCHGS', 'GASTROCHGS', 'LITHOCHGS', 'OTHCHGS','TCHGS','OPER_PHYID',
             'OPER_PHYNP','PRINPROC','OTHPROC1','OTHPROC2','OTHPROC3','OTHPROC4'])

In [10]:
df.shape

(8000000, 38)

In [11]:
df = df.drop(columns=['OTHCPT1','OTHCPT2','OTHCPT3','OTHCPT4','OTHCPT5','PRINDIAG','OTHDIAG1','OTHDIAG2','OTHDIAG3','OTHDIAG4','OTHDIAG5','ECMORB1','ECMORB2','ECMORB3','ATTEN_PHYI'])

In [12]:
def split_target(data, target_name):
       target = data[[target_name]]
       data.drop(target_name, axis=1, inplace=True)
       return (data, target)
X, y = split_target(df, 'REASON_CDE')

In [13]:
#after splitting my data into train and test with the code above, X contains the df and y contains the target (or response variable)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [14]:
#Just to check...
print(y_train.groupby('REASON_CDE').size())

REASON_CDE
0    5989152
1      10848
dtype: int64

In [ ]:
categ_cols = df.columns[1:]
one_hot_cols = list(set(categ_cols) & set(X_train.columns))
X_train = pd.get_dummies(X_train, columns=one_hot_cols)
X_test = pd.get_dummies(X_test, columns=one_hot_cols)

In [1]:
X_train = pd.get_dummies(X_train, columns=one_hot_cols)

NameError: name 'X_train' is not defined

In [ ]:
X_test = pd.get_dummies(X_test, columns=one_hot_cols)