In [12]:
import pandas as pd
#Q2_pt1_2018 = '/Users/EricJC/Desktop/Data/18Q2-pt1.csv'
df = pd.read_csv('/Users/EricJC/Desktop/Data/18Q2-pt1.csv')
unneeded_data = ['EVALCODE2','EVALCODE3','EVALCODE4','EVALCODE5','OTHCPT2',
                'OTHCPT3','OTHCPT4','OTHCPT5','OTHCPT6','OTHCPT7','OTHCPT8',
                'OTHCPT9','OTHCPT10','OTHCPT11','OTHCPT12','OTHCPT13','OTHCPT14',
                'OTHCPT15','OTHCPT16','OTHCPT17','OTHCPT18','OTHCPT19','OTHCPT20',
                'OTHCPT21','OTHCPT22','OTHCPT23','OTHCPT24','OTHCPT25','OTHCPT26',
                'OTHCPT27','OTHCPT28','OTHCPT29','OTHCPT30','OTHDIAG1','OTHDIAG2',
                'OTHDIAG3','OTHDIAG4','OTHDIAG5','OTHOPER_PH','OTHOPER__A']
df = df.drop(unneeded_data, axis = 1)

In [13]:
df.head()

,SYS_RECID,YEAR,QTR,FACLNBR,MCARE_NBR,TYPE_SERV,SERV_LOC,PRO_CODE,FAC_REGION,FAC_COUNTY,...,OPRMCHGS,ANESCHGS,RECOVCHGS,ERCHGS,TRAUMACHGS,OBSERCHGS,GASTROCHGS,LITHOCHGS,OTHCHGS,TCHGS
0,102741482,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,1596,0,0,0,0,0,1849
1,102741483,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,494,0,0,0,0,0,494
2,102741484,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,4476,0,0,0,0,857,18862
3,102741485,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,1596,0,0,0,0,857,5184
4,102741486,2018,2,100029,100029,2,NaN,23,11,13,...,0,0,0,3472,0,0,0,0,0,8144